<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="width: 30px; height: 30px;">
      <ion-icon name="menu" (click)="openMenu($event)" style="width: 100%; height: 100%;"></ion-icon>
    </ion-buttons>
    <ion-title>Traffic Updates</ion-title>
    <ion-buttons slot="primary" *ngIf="isLogin">
      <ion-button routerLink="/posts/new-post">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tup-wrapper">
    <div class="loader-box" *ngIf="isLoading">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
    <div class="loader-box" *ngIf="!isLoading && trafficUpdates?.length === 0">
      <ion-label>No traffic updates found!</ion-label>
    </div>
    <div *ngIf="!isLoading && trafficUpdates?.length > 0">
      <div class="tup-box" *ngFor="let tu of trafficUpdates">
        <div class="tup-info">
          <div class="tup-title">{{ tu.title }}</div>
          <div class="tup-date">{{ tu.fd }}</div>
        </div>
        <div class="icon-box" (click)="navigateToPost(tu.pid)">
          <ion-icon name="arrow-dropright" size="large"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content>
