<ion-content>
  <div class="menu_wrapper">
    <div class="menu_box" (click)="openMenu($event)">
      <ion-icon name="menu"></ion-icon>
    </div>
  </div>
  <div class="city_name_wrapper">
    <div class="cn_box">
      <ion-icon name="locate"></ion-icon>
      <ion-label>Abeokuta</ion-label>
    </div>
  </div>
  <div class="ti_wrapper">
    <div class="ti_box">
      <ion-label>Traffic Indicators</ion-label>
      <div class="indicator_reps">
        <div class="item_1">Fast</div>
        <div class="items item_2"></div>
        <div class="items item_3"></div>
        <div class="items item_4"></div>
        <div class="items item_5"></div>
        <div class="item_6">Slow</div>
      </div>
    </div>
  </div>
  <div id="map" #map></div>
</ion-content>